* {
    box-sizing: border-box;
}

body {
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-evenly;
}

form .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .info-container label {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    align-self: flex-start;
}

form .info-container input {
    background-color: var(--background-secondary-dark-color);
    color: #9C9C9C;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
}

form button {
    background: none;
    border: none;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: 1px;
    display: flex;
    justify-content: center;
}

footer div {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}