main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-evenly;
}

.content-header {
    width: 100%;
    text-align: center;
}

.content-header h1 {
    font-size: 25px;
    font-weight: var(--semi-light);
}

.main-content-container {
    display: flex;
    height: 55vh;
    min-width: 70vw;
}

.server-box-nav {
    display: flex;
    flex-direction: column;
    margin-right: var(--small);
    background-color: var(--background-secondary-dark-color);
    border-radius: 10px;
    width: 60px;
}

.server-box-nav button
{
    margin-bottom: 15px;
    height: 65px;
    border-radius: 10px;
}

.server-box-nav button svg
{
    height: 20px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-secondary-dark-color);
    border-radius: 10px;
    width: 100%;
    
}

.inputs-container h2 {
    align-self: flex-start;
    margin-left: var(--small);
    margin-top: var(--tiny);
    margin-bottom: var(--tiny);
    font-size: 1.2rem;
    font-weight: var(--small);
}

.inputs-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: var(--small);
    width: 90%;
    overflow-x: scroll;
    height: 280px;
}


.inputs-items input {
    background-color: var(--background-primary-dark-color);
    border: none;
    color: var(--foreground-gray-color);
    border-radius: 10px;
    width: 150px;
    padding: 10px 10px;
    font-size: var(--small-text);
}

.inputs-items label
{
    color:var(--foreground-gray-color);
    margin-left: 10px;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-container
{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: left;
}

input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
}

.checkbox
{
    background-color: var(--background-primary-dark-color);
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.action-buttons
{
    min-height: 80px;
    min-width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}

.action-buttons button svg
{
    height: 50px;
}

button {
    background: none;
    border: none;
}

.main-nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    direction: rtl;
}

.main-nav-bar figure svg {
    height: 80px;
}

.input-container span {
    color: red;
}
