<div class="pt-3 pb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" asp-action="Add" asp-controller="Server"><i class="fa fa-plus text-success"></i> Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-action="Manage" asp-controller="Server"><i class="fa fa-list text-warning"></i> Manage</a>
    </li>
  </ul>
</div>