@{
    ViewData["title"] = "Login";
}
<form>
    <div class="info-container">
        <label for="input">Username</label>
        <input type="text">
        <label for="input">Password</label>
        <input type="password">
        <button id="login-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <path class="login-icon" data-name="Path 21" d="M15,25.5,22.5,18,15,10.5" fill="none" stroke="#0c1221" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                <path class="login-icon" data-name="Path 22" d="M22.5,18H4.5" fill="none" stroke="#0c1221" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </svg>                  
        </button>
    </div>
</form>