@{
    ViewData["title"] = "Home page";
}
@section Styles {
    <link rel="stylesheet" href="~/assets/style/base.css"/>
}
<main class="main-container">
    <figure class="log-container">
        <svg id="Component_17_1" data-name="Component 17 – 1" xmlns="http://www.w3.org/2000/svg" width="130" height="130" viewBox="0 0 130 130">
    <g id="Ellipse_7" data-name="Ellipse 7" fill="none" stroke="#e2e2e2" stroke-width="3">
        <circle cx="65" cy="65" r="65" stroke="none"/>
        <circle cx="65" cy="65" r="63.5" fill="none"/>
    </g>
    <text id="Logs" transform="translate(45 82)" fill="#e2e2e2" font-size="16" font-family="SegoeUI-Light, Segoe UI" font-weight="300"><tspan x="4.762" y="17">Logs</tspan></text>
    <path id="Icon_material-error-outline" data-name="Icon material-error-outline" d="M16.5,22.5h3v3h-3Zm0-12h3v9h-3ZM17.985,3A15,15,0,1,0,33,18,14.993,14.993,0,0,0,17.985,3ZM18,30A12,12,0,1,1,30,18,12,12,0,0,1,18,30Z" transform="translate(47 35)" fill="#05b396"/>
    </svg>
    </figure>

    <figure class="dashboard-container">
        <svg id="Component_16_1" data-name="Component 16 – 1" xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 140 140">
    <g id="Ellipse_9" data-name="Ellipse 9" fill="none" stroke="#e2e2e2" stroke-width="3">
        <circle cx="70" cy="70" r="70" stroke="none"/>
        <circle cx="70" cy="70" r="68.5" fill="none"/>
    </g>
    <text id="Dashboard" transform="translate(21 87)" fill="#e2e2e2" font-size="18" font-family="SegoeUI-Light, Segoe UI" font-weight="300"><tspan x="7.81" y="19">Dashboard</tspan></text>
    <g id="Column_Chart3" data-name="Column Chart3" transform="translate(-375 -2696.714)">
        <g id="m1" transform="translate(423.435 2728.714)">
        <rect id="Rectangle_21" data-name="Rectangle 21" width="2.816" height="11.914" transform="translate(0 29.086)" fill="#e93939"/>
        <rect id="Rectangle_22" data-name="Rectangle 22" width="2.816" height="15.65" transform="translate(5.632 25.35)" fill="#e93939"/>
        <rect id="Rectangle_23" data-name="Rectangle 23" width="2.816" height="34.43" transform="translate(11.265 6.57)" fill="#e93939"/>
        <rect id="Rectangle_24" data-name="Rectangle 24" width="2.816" height="41" transform="translate(16.897)" fill="#e93939"/>
        <rect id="Rectangle_25" data-name="Rectangle 25" width="2.816" height="31.3" transform="translate(22.529 9.7)" fill="#e93939"/>
        <rect id="Rectangle_26" data-name="Rectangle 26" width="2.816" height="33.579" transform="translate(28.162 7.421)" fill="#e93939"/>
        <rect id="Rectangle_27" data-name="Rectangle 27" width="2.816" height="37.495" transform="translate(33.794 3.505)" fill="#e93939"/>
        <rect id="Rectangle_28" data-name="Rectangle 28" width="2.816" height="10.688" transform="translate(39.426 30.312)" fill="#e93939"/>
        </g>
    </g>
    </svg>
    </figure>

    <figure class="channels-container">
        <svg id="Component_15_1" data-name="Component 15 – 1" xmlns="http://www.w3.org/2000/svg" width="170" height="170" viewBox="0 0 170 170">
    <g id="Ellipse_4" data-name="Ellipse 4" fill="none" stroke="#e2e2e2" stroke-width="3">
        <circle cx="85" cy="85" r="85" stroke="none"/>
        <circle cx="85" cy="85" r="83.5" fill="none"/>
    </g>
    <text id="Channels" transform="translate(30 102)" fill="#e2e2e2" font-size="20" font-family="SegoeUI-Light, Segoe UI" font-weight="300"><tspan x="16.812" y="22">Channels</tspan></text>
    <g id="Icon_feather-tv" data-name="Icon feather-tv" transform="translate(62 44)">
        <path id="Path_4" data-name="Path 4" d="M7,10.5H39a4.177,4.177,0,0,1,4,4.333V38.667A4.177,4.177,0,0,1,39,43H7a4.177,4.177,0,0,1-4-4.333V14.833A4.177,4.177,0,0,1,7,10.5Z" transform="translate(0 0)" fill="none" stroke="#ebcd06" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        <path id="Path_5" data-name="Path 5" d="M25.5,3,18,10.5,10.5,3" transform="translate(5)" fill="none" stroke="#ebcd06" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </g>
    </svg>
    </figure>

    <figure class="stream-container">
        <svg id="Component_11_1" data-name="Component 11 – 1" xmlns="http://www.w3.org/2000/svg" width="280" height="280" viewBox="0 0 350 350">
    <g id="Chart" transform="matrix(0.946, 0.326, -0.326, 0.946, 160.859, 241.911)">
        <g id="m1" transform="translate(-175 -175)">
        <path id="Path_3" data-name="Path 3" d="M0,154.266C9.19,128.2,18.38,102.132,27.57,91.9s18.38-4.619,27.57,12.582,18.38,45.992,27.57,49.781,18.38-17.424,27.57-44.857,18.38-61.086,27.57-54.7,18.38,52.8,27.57,62.363,18.38-17.717,27.57-37.746,18.38-32.805,27.57-37.2,18.38-.4,27.57,12.582,18.38,34.97,27.57,27.352S294.081,37.219,303.271,0" transform="translate(0 0)" fill="none" stroke="#34e0e7" stroke-width="2"/>
        </g>
    </g>
    <g id="Ellipse_3" data-name="Ellipse 3" fill="none" stroke="#e2e2e2" stroke-width="3">
        <circle cx="175" cy="175" r="175" stroke="none"/>
        <circle cx="175" cy="175" r="173.5" fill="none"/>
    </g>
    <text id="Stream" transform="translate(64 245)" fill="#e2e2e2" font-size="30" font-family="SegoeUI-Light, Segoe UI" font-weight="300"><tspan x="66.128" y="32">Stream</tspan></text>
    </svg>
    </figure>

    <figure class="suppliers-container">
        <svg id="Component_12_1" data-name="Component 12 – 1" xmlns="http://www.w3.org/2000/svg" width="170" height="170" viewBox="0 0 170 170">
            <g id="Ellipse_10" data-name="Ellipse 10" fill="none" stroke="#e2e2e2" stroke-width="3">
            <circle cx="85" cy="85" r="85" stroke="none"/>
                <circle cx="85" cy="85" r="83.5" fill="none"/>
            </g>
            <text id="Suppliers" transform="translate(30 102)" fill="#e2e2e2" font-size="20" font-family="SegoeUI-Light, Segoe UI" font-weight="300"><tspan x="17.046" y="22">Suppliers</tspan></text>
            <path id="Icon_awesome-users" data-name="Icon awesome-users" d="M8.571,19.393a5.714,5.714,0,1,0-5.714-5.714A5.72,5.72,0,0,0,8.571,19.393Zm40,0a5.714,5.714,0,1,0-5.714-5.714A5.72,5.72,0,0,0,48.571,19.393Zm2.857,2.857H45.714a5.7,5.7,0,0,0-4.027,1.661,13.06,13.06,0,0,1,6.705,9.768h5.893a2.854,2.854,0,0,0,2.857-2.857V27.964A5.72,5.72,0,0,0,51.429,22.25Zm-22.857,0a10,10,0,1,0-10-10A9.995,9.995,0,0,0,28.571,22.25Zm6.857,2.857h-.741a13.806,13.806,0,0,1-12.232,0h-.741A10.288,10.288,0,0,0,11.429,35.393v2.571a4.287,4.287,0,0,0,4.286,4.286H41.429a4.287,4.287,0,0,0,4.286-4.286V35.393A10.288,10.288,0,0,0,35.429,25.107Zm-19.973-1.2a5.7,5.7,0,0,0-4.027-1.661H5.714A5.72,5.72,0,0,0,0,27.964v2.857a2.854,2.854,0,0,0,2.857,2.857H8.741A13.093,13.093,0,0,1,15.455,23.911Z" transform="translate(56 44.75)" fill="none" stroke="#f73dc6" stroke-width="2"/>
        </svg>
    </figure>
    <figure class="packages-container">
        <svg id="Component_13_1" data-name="Component 13 – 1" xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 140 140">
            <g id="Ellipse_11" data-name="Ellipse 11" fill="none" stroke="#e2e2e2" stroke-width="3">
            <circle cx="70" cy="70" r="70" stroke="none"/>
            <circle cx="70" cy="70" r="68.5" fill="none"/>
            </g>
            <text id="Packages_" data-name="Packages " transform="translate(27 87)" fill="#e2e2e2" font-size="18" font-family="SegoeUI-Light, Segoe UI" font-weight="300"><tspan x="8.582" y="19">Packages </tspan></text>
            <g id="Icon_feather-package" data-name="Icon feather-package" transform="translate(52.173 33.938)">
            <path id="Path_6" data-name="Path 6" d="M24.75,14.1,11.25,6.315" fill="none" stroke="#fda268" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            <path id="Path_7" data-name="Path 7" d="M31.5,24V12A3,3,0,0,0,30,9.4l-10.5-6a3,3,0,0,0-3,0L6,9.4A3,3,0,0,0,4.5,12V24A3,3,0,0,0,6,26.595l10.5,6a3,3,0,0,0,3,0l10.5-6A3,3,0,0,0,31.5,24Z" fill="none" stroke="#fda268" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            <path id="Path_8" data-name="Path 8" d="M4.905,10.44,18,18.015,31.095,10.44" fill="none" stroke="#fda268" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            <path id="Path_9" data-name="Path 9" d="M18,33.12V18" fill="none" stroke="#fda268" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </g>
        </svg>
    </figure>

    <figure class="servers-container">
        <a asp-controller="Server" asp-action="Create">
            <svg id="Component_14_1" data-name="Component 14 – 1" xmlns="http://www.w3.org/2000/svg" width="130" height="130" viewBox="0 0 130 130">
                <g id="Ellipse_6" data-name="Ellipse 6" fill="none" stroke="#e2e2e2" stroke-width="3">
                <circle cx="65" cy="65" r="65" stroke="none"/>
                <circle cx="65" cy="65" r="63.5" fill="none"/>
                </g>
            <text id="Servers" transform="translate(29 82)" fill="#e2e2e2" font-size="16" font-family="SegoeUI-Light, Segoe UI" font-weight="300"><tspan x="11.867" y="17">Servers</tspan></text>
            <g id="Icon_feather-server" data-name="Icon feather-server" transform="translate(51.8 31)">
                <path id="Path_10" data-name="Path 10" d="M5.371,3H24.342c1.31,0,2.371.784,2.371,1.75v3.5c0,.966-1.062,1.75-2.371,1.75H5.371C4.062,10,3,9.216,3,8.25V4.75C3,3.784,4.062,3,5.371,3Z" transform="translate(-0.3 4.38)" fill="none" stroke="#21b343" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                <path id="Path_11" data-name="Path 11" d="M5.371,21H24.342c1.31,0,2.371.784,2.371,1.75v3.5c0,.966-1.062,1.75-2.371,1.75H5.371C4.062,28,3,27.216,3,26.25v-3.5C3,21.784,4.062,21,5.371,21Z" transform="translate(0 -0.62)" fill="none" stroke="#21b343" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                <path id="Path_12" data-name="Path 12" d="M9,9H9" transform="translate(-2.3 1.449)" fill="none" stroke="#21b343" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                <path id="Path_13" data-name="Path 13" d="M0,0H0" transform="matrix(-0.438, -0.899, 0.899, -0.438, 7.787, 24.093)" fill="none" stroke="#21b343" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
            </g>
            </svg>
        </a>
    </figure>
</main>
