@model Server
@{
    ViewData["Title"] = "Details";
}

<partial name="~/Views/Partials/Server/_Tab.cshtml"/>

<main class="main-container">
    <h1>Details</h1>

    <hr />

    @Model.Name<br />
    @Model.IP

</main>



