<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/base.css" asp-append-version="true">
    <title>StreamBox - @ViewData["Title"]</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="~/assets/icons/logo.png" alt="StreamBox" class="logo" asp-append-version="true">
            <label><a asp-controller="Home" asp-action="Index">StreamBox</a></label>
        </div>
        <div class="profile-container">
            <figure></figure>
            <div class="profile-photo-container">
                <img src="~/assets/icons/profile-photo.jpg" class="profile-photo" asp-append-version="true">
            </div>
            <figure></figure>
        </div>
        <div class="helper-stuff">
            <img src="~/assets/icons/expand.png" alt="Expand Icon">
            <img src="~/assets/icons/messages.png" alt="messages Icon">
            <img src="~/assets/icons/contact us.png" alt="Contact Us Icon">
        </div>
    </header>
    
    <main>
        @RenderBody()
    </main>

    <footer>
        <a href="#">All Rights Reserved &copy; @DateTime.Now.Year</a>
    </footer>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>

</html>
